<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-newEat="{{eaten}}">
		{{#if eaten}}ALL GONE!{{else}}DEVOUR ME!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
