<li>
	{{name}}

	<button class="change-cook" data-id="{{id}}" data-newCook="{{cook}}">
		{{#if cook}}READY TO GO{{else}}REORDER!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE</button>
</li>
